<%- include('partials/header') %>
<body>

    <div class="container mt-5">
        <div class="row">

            <div class="row mb-2">
                <div class="col-md-5">
                    <a href="http://localhost:3005/cine" id="btnRegresar" class="btn btn-sm btn-primary">Regresar</a>
                    <a href="http://localhost:3005/cine" class="btn btn-sm btn-info text-light">Inicio</a>
                </div>
            </div>
            
            <div class="mx-auto col-sm-9 col-md-6 col-lg-5 col-xl-4">
                <form action="#" id="nuevaTarea" class="rounded border p-3">
                    <h3 class="mb-3 text-center bg-primary text-light rounded p-2">Nueva Reserva</h3>
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="titulo" class="form-label">apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">pelicula</label>
                        <input type="text" class="form-control" id="pelicula" name="codigo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Fecha De Estreno</label>
                        <input type="date" class="form-control" id="fechaEstreno" name="codigo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">horario</label>
                        <input type="number" class="form-control" id="horario" name="codigo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">precio</label>
                        <input type="number" class="form-control" id="precio" name="codigo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">cantidad De Butacas</label>
                        <input type="number" class="form-control" id="cantidadButacas" name="codigo">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">codigo</label>
                        <input type="number" class="form-control" id="codigo" name="codigo">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/crear.js">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>


<%- include('partials/footer') %>